body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:1470px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7681 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:60px;
  width:70px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7681 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7681_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:406px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7682 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:830px;
  height:406px;
  display:flex;
}
#u7682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7683 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:830px;
  height:36px;
  display:flex;
}
#u7683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7684 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:60px;
  width:28px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7684 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7684_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7685 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:59px;
  width:11px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7685 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7685_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7686 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:110px;
  width:764px;
  height:190px;
}
#u7687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u7687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
  display:flex;
  text-align:left;
}
#u7687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u7688 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:0px;
  width:92px;
  height:30px;
  display:flex;
  text-align:left;
}
#u7688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:30px;
}
#u7689 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:0px;
  width:545px;
  height:30px;
  display:flex;
  text-align:left;
}
#u7689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
}
#u7690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:127px;
  height:32px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u7690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
}
#u7691 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:30px;
  width:92px;
  height:32px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u7691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:32px;
}
#u7692 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:30px;
  width:545px;
  height:32px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u7692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
}
#u7693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:127px;
  height:32px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u7693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
}
#u7694 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:62px;
  width:92px;
  height:32px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u7694 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:32px;
}
#u7695 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:62px;
  width:545px;
  height:32px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u7695 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
}
#u7696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:127px;
  height:32px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u7696 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
}
#u7697 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:94px;
  width:92px;
  height:32px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u7697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:32px;
}
#u7698 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:94px;
  width:545px;
  height:32px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u7698 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
}
#u7699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:127px;
  height:32px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u7699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
}
#u7700 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:126px;
  width:92px;
  height:32px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u7700 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:32px;
}
#u7701 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:126px;
  width:545px;
  height:32px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u7701 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
}
#u7702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:158px;
  width:127px;
  height:32px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u7702 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
}
#u7703 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:158px;
  width:92px;
  height:32px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u7703 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:32px;
}
#u7704 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:158px;
  width:545px;
  height:32px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u7704 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1470px;
  height:190px;
}
#u7705 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:490px;
  width:1470px;
  height:190px;
  display:flex;
  letter-spacing:1px;
}
#u7705 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
