body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:1470px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8377 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:60px;
  width:70px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8377 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8377_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:406px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8378 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:830px;
  height:406px;
  display:flex;
}
#u8378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8379 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:830px;
  height:36px;
  display:flex;
}
#u8379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8380 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:60px;
  width:28px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8380 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8380_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8381 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:59px;
  width:11px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8381 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8381_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8382 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:110px;
  width:764px;
  height:62px;
}
#u8383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u8383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
  display:flex;
  text-align:left;
}
#u8383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u8384 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:0px;
  width:92px;
  height:30px;
  display:flex;
  text-align:left;
}
#u8384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:30px;
}
#u8385 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:0px;
  width:545px;
  height:30px;
  display:flex;
  text-align:left;
}
#u8385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
}
#u8386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:127px;
  height:32px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u8386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
}
#u8387 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:30px;
  width:92px;
  height:32px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u8387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:32px;
}
#u8388 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:30px;
  width:545px;
  height:32px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u8388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1470px;
  height:190px;
}
#u8389 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:490px;
  width:1470px;
  height:190px;
  display:flex;
  letter-spacing:1px;
}
#u8389 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
