body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1663px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1663px;
  height:880px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8756 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1663px;
  height:880px;
  display:flex;
}
#u8756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1243px;
  height:879px;
}
#u8757 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1243px;
  height:879px;
  display:flex;
}
#u8757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:649px;
}
#u8758 {
  border-width:0px;
  position:absolute;
  left:1219px;
  top:0px;
  width:443px;
  height:649px;
  display:flex;
}
#u8758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1610px;
  height:791px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8759 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:80px;
  width:1610px;
  height:791px;
  display:flex;
}
#u8759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
}
#u8760 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:53px;
  width:87px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u8760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8761 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:53px;
  width:87px;
  height:28px;
  display:flex;
  font-size:12px;
}
#u8761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8762 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:53px;
  width:87px;
  height:28px;
  display:flex;
  font-size:12px;
}
#u8762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u8763 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:62px;
  width:10px;
  height:10px;
  display:flex;
}
#u8763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u8764 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:62px;
  width:10px;
  height:10px;
  display:flex;
}
#u8764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u8765 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:61px;
  width:10px;
  height:10px;
  display:flex;
}
#u8765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1611px;
  height:2px;
}
#u8766 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:82px;
  width:1610px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.00818061591259649deg);
  -moz-transform:rotate(0.00818061591259649deg);
  -ms-transform:rotate(0.00818061591259649deg);
  transform:rotate(0.00818061591259649deg);
}
#u8766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:877px;
  height:41px;
}
#u8767 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:838px;
  width:877px;
  height:41px;
  display:flex;
}
#u8767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:41px;
  background:inherit;
  background-color:rgba(243, 246, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 246, 250, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8768 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:838px;
  width:735px;
  height:41px;
  display:flex;
}
#u8768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8769 {
  border-width:0px;
  position:absolute;
  left:1563px;
  top:53px;
  width:87px;
  height:28px;
  display:flex;
}
#u8769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8770 {
  border-width:0px;
  position:absolute;
  left:1360px;
  top:20px;
  width:120px;
  height:30px;
  display:flex;
}
#u8770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8771 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:251px;
  width:1264px;
  height:536px;
}
#u8772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
}
#u8772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u8772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u8773 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:0px;
  width:65px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u8773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u8774 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:0px;
  width:97px;
  height:30px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u8774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u8775 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:0px;
  width:105px;
  height:30px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u8775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u8776 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:0px;
  width:105px;
  height:30px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u8776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8777 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u8777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u8778 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:0px;
  width:104px;
  height:30px;
  display:flex;
}
#u8778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u8779 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:0px;
  width:95px;
  height:30px;
  display:flex;
}
#u8779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u8780 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:0px;
  width:230px;
  height:30px;
  display:flex;
}
#u8780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u8781 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:0px;
  width:103px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u8781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u8782 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:0px;
  width:95px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u8782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u8783 {
  border-width:0px;
  position:absolute;
  left:1161px;
  top:0px;
  width:103px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u8783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:32px;
}
#u8784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:62px;
  height:32px;
  display:flex;
  font-size:12px;
}
#u8784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
}
#u8785 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:30px;
  width:65px;
  height:32px;
  display:flex;
  font-size:12px;
}
#u8785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
}
#u8786 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:30px;
  width:97px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u8786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
}
#u8787 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:30px;
  width:105px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u8787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
}
#u8788 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:30px;
  width:105px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u8788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u8789 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:30px;
  width:100px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#000000;
}
#u8789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:32px;
}
#u8790 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:30px;
  width:104px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#000000;
}
#u8790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:32px;
}
#u8791 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:30px;
  width:95px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#000000;
}
#u8791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:32px;
}
#u8792 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:30px;
  width:230px;
  height:32px;
  display:flex;
  font-size:12px;
}
#u8792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
}
#u8793 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:30px;
  width:103px;
  height:32px;
  display:flex;
  font-size:12px;
}
#u8793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:32px;
}
#u8794 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:30px;
  width:95px;
  height:32px;
  display:flex;
  font-size:12px;
}
#u8794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
}
#u8795 {
  border-width:0px;
  position:absolute;
  left:1161px;
  top:30px;
  width:103px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#0000FF;
}
#u8795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u8796 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:62px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u8796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u8797 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:62px;
  width:65px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u8797 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:35px;
}
#u8798 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:62px;
  width:97px;
  height:35px;
  display:flex;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u8798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u8799 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:62px;
  width:105px;
  height:35px;
  display:flex;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u8799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u8800 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:62px;
  width:105px;
  height:35px;
  display:flex;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u8800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u8801 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:62px;
  width:100px;
  height:35px;
  display:flex;
  font-size:12px;
  color:#000000;
}
#u8801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:35px;
}
#u8802 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:62px;
  width:104px;
  height:35px;
  display:flex;
  font-size:12px;
  color:#000000;
}
#u8802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
}
#u8803 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:62px;
  width:95px;
  height:35px;
  display:flex;
  font-size:12px;
  color:#000000;
}
#u8803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:35px;
}
#u8804 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:62px;
  width:230px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u8804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
}
#u8805 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:62px;
  width:103px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u8805 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
}
#u8806 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:62px;
  width:95px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u8806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
}
#u8807 {
  border-width:0px;
  position:absolute;
  left:1161px;
  top:62px;
  width:103px;
  height:35px;
  display:flex;
  font-size:12px;
  color:#0000FF;
}
#u8807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:32px;
}
#u8808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:97px;
  width:62px;
  height:32px;
  display:flex;
  font-size:12px;
}
#u8808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
}
#u8809 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:97px;
  width:65px;
  height:32px;
  display:flex;
  font-size:12px;
}
#u8809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
}
#u8810 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:97px;
  width:97px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u8810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
}
#u8811 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:97px;
  width:105px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u8811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
}
#u8812 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:97px;
  width:105px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u8812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u8813 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:97px;
  width:100px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#000000;
}
#u8813 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:32px;
}
#u8814 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:97px;
  width:104px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#000000;
}
#u8814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:32px;
}
#u8815 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:97px;
  width:95px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#000000;
}
#u8815 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:32px;
}
#u8816 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:97px;
  width:230px;
  height:32px;
  display:flex;
  font-size:12px;
}
#u8816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
}
#u8817 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:97px;
  width:103px;
  height:32px;
  display:flex;
  font-size:12px;
}
#u8817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:32px;
}
#u8818 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:97px;
  width:95px;
  height:32px;
  display:flex;
  font-size:12px;
}
#u8818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
}
#u8819 {
  border-width:0px;
  position:absolute;
  left:1161px;
  top:97px;
  width:103px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#0000FF;
}
#u8819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:32px;
}
#u8820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:129px;
  width:62px;
  height:32px;
  display:flex;
  font-size:12px;
}
#u8820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
}
#u8821 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:129px;
  width:65px;
  height:32px;
  display:flex;
  font-size:12px;
}
#u8821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
}
#u8822 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:129px;
  width:97px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u8822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
}
#u8823 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:129px;
  width:105px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u8823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
}
#u8824 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:129px;
  width:105px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u8824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u8825 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:129px;
  width:100px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#000000;
}
#u8825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:32px;
}
#u8826 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:129px;
  width:104px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#000000;
}
#u8826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:32px;
}
#u8827 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:129px;
  width:95px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#000000;
}
#u8827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:32px;
}
#u8828 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:129px;
  width:230px;
  height:32px;
  display:flex;
  font-size:12px;
}
#u8828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
}
#u8829 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:129px;
  width:103px;
  height:32px;
  display:flex;
  font-size:12px;
}
#u8829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:32px;
}
#u8830 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:129px;
  width:95px;
  height:32px;
  display:flex;
  font-size:12px;
}
#u8830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
}
#u8831 {
  border-width:0px;
  position:absolute;
  left:1161px;
  top:129px;
  width:103px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#0000FF;
}
#u8831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:375px;
}
#u8832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:161px;
  width:62px;
  height:375px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u8832 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:375px;
}
#u8833 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:161px;
  width:65px;
  height:375px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u8833 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:375px;
}
#u8834 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:161px;
  width:97px;
  height:375px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u8834 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:375px;
}
#u8835 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:161px;
  width:105px;
  height:375px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u8835 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:375px;
}
#u8836 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:161px;
  width:105px;
  height:375px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u8836 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:375px;
}
#u8837 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:161px;
  width:100px;
  height:375px;
  display:flex;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u8837 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:375px;
}
#u8838 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:161px;
  width:104px;
  height:375px;
  display:flex;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u8838 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:375px;
}
#u8839 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:161px;
  width:95px;
  height:375px;
  display:flex;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u8839 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:375px;
}
#u8840 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:161px;
  width:230px;
  height:375px;
  display:flex;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u8840 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:375px;
}
#u8841 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:161px;
  width:103px;
  height:375px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u8841 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:375px;
}
#u8842 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:161px;
  width:95px;
  height:375px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u8842 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:375px;
}
#u8843 {
  border-width:0px;
  position:absolute;
  left:1161px;
  top:161px;
  width:103px;
  height:375px;
  display:flex;
  font-size:12px;
  color:#0000FF;
  text-align:left;
}
#u8843 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:31px;
  background:inherit;
  background-color:rgba(213, 93, 96, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8844 {
  border-width:0px;
  position:absolute;
  left:1435px;
  top:209px;
  width:65px;
  height:31px;
  display:flex;
}
#u8844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(213, 93, 96, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D55D60;
}
#u8845 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:209px;
  width:65px;
  height:31px;
  display:flex;
  color:#D55D60;
}
#u8845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8846 label {
  left:0px;
  width:100%;
}
#u8846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u8846 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:258px;
  width:23px;
  height:16px;
  display:flex;
}
#u8846 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8846_img.selected {
}
#u8846.selected {
}
#u8846_img.disabled {
}
#u8846.disabled {
}
#u8846_img.selectedDisabled {
}
#u8846.selectedDisabled {
}
#u8846_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:7px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8846_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8847 label {
  left:0px;
  width:100%;
}
#u8847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u8847 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:290px;
  width:23px;
  height:16px;
  display:flex;
}
#u8847 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8847_img.selected {
}
#u8847.selected {
}
#u8847_img.disabled {
}
#u8847.disabled {
}
#u8847_img.selectedDisabled {
}
#u8847.selectedDisabled {
}
#u8847_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:7px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8847_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8848 label {
  left:0px;
  width:100%;
}
#u8848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u8848 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:322px;
  width:23px;
  height:16px;
  display:flex;
}
#u8848 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8848_img.selected {
}
#u8848.selected {
}
#u8848_img.disabled {
}
#u8848.disabled {
}
#u8848_img.selectedDisabled {
}
#u8848.selectedDisabled {
}
#u8848_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:7px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8848_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8849 label {
  left:0px;
  width:100%;
}
#u8849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u8849 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:354px;
  width:23px;
  height:16px;
  display:flex;
}
#u8849 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8849_img.selected {
}
#u8849.selected {
}
#u8849_img.disabled {
}
#u8849.disabled {
}
#u8849_img.selectedDisabled {
}
#u8849.selectedDisabled {
}
#u8849_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:7px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8849_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1470px;
  height:320px;
}
#u8850 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:940px;
  width:1470px;
  height:320px;
  display:flex;
  letter-spacing:1px;
}
#u8850 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u8851 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:100px;
  width:60px;
  height:14px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u8851 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8851_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8852_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8852_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8852 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:95px;
  width:169px;
  height:25px;
  display:flex;
  font-size:12px;
}
#u8852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8852_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8852.disabled {
}
#u8853 label {
  left:0px;
  width:100%;
}
#u8853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u8853 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:390px;
  width:23px;
  height:16px;
  display:flex;
}
#u8853 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8853_img.selected {
}
#u8853.selected {
}
#u8853_img.disabled {
}
#u8853.disabled {
}
#u8853_img.selectedDisabled {
}
#u8853.selectedDisabled {
}
#u8853_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:7px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8853_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u8854 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:222px;
  width:28px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u8854 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8854_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
